.introduction {
    display: flex;
    height: 100vh;
    background-color: #F1EDEE;
}

.introduction__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;
    color: #414535;
}

.introduction__text span {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .1rem;
    margin  : 0;
}

.introduction__text p {
    margin-bottom: 2rem;
    margin-right: 3rem;
    color: #414535;
}

.introduction__text a {
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #414535;
    position: relative;
};

.introduction__text a::before {
    content: "";
    border: 1px solid black;
    position: absolute;
    width: 5rem;
    height: 10px;
    left: 0;
    top: 0;
    background-color: #414535;
}


.introduction__text a:focus {
    text-decoration: none;
    border: none;
    border-style: none;
}

.introduction__text div {
    margin-top: 0;
    display: flex;
    gap: 20px;
}

.introduction__image {
   width: 50%;
}

.introduction__image img {
    height: 100%;
    width: auto;
}

