.technology {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 60vh;
}

.technology .tech-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15%;
    gap: 90px;
}   

.tech-stack div{
    height: 110px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tech-stack div{
    /* width: 200px;
    height: 200px; */
    font-size: 4rem;
}

.tech-stack div h6 {
    font-size: 1.6rem;
}